@charset "utf-8";
@import "../bourbon/bourbon";
//$visual-grid: true;
$visual-grid-index: front;
$visual-grid-color: red;
@import "../neat/neat";
@import "../neat/neat-helpers";
@import"variables";

//Typography

@include font-face(HoltwoodOneSC, '../fonts/Holtwood_One_SC/HoltwoodOneSC', bold);
@include font-face(Merriweather, '../fonts/Merriweather/Merriweather-Bold', bold, italic);
@include font-face(Merriweather, '../fonts/Merriweather/Merriweather-Regular',italic, normal);
@include font-face(Merriweather_Sans, '../fonts/Merriweather_Sans/MerriweatherSans-Bold', bold);
@include font-face(Merriweather_Sans, '../fonts/Merriweather_Sans/MerriweatherSans-Regular', normal);

html{
  font-family:('Merriweather', serif);
  margin:0;
  padding:0;}
body {
  font-size:em(16);
  font-weight:400;
  text-align:left;
  margin:0;
  padding:0;
  background-color:$bckgd;
    @include media($tablet){font-size:em(14);}
}

::selection{background:$secondary-d; color:$black;}
::-moz-selection{background:$black;}

h1{
  color:$primary-a;
  font-family:'HoltwoodOneSC';
  font-variant:italic;
  font-size:em(40);
  line-height: 120%;
  text-align:center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  text-transform: uppercase;
  margin:0;
}

h2{
  color:$secondary-b;
  font-size:em(27);
  font-weight:900;
  font-style:italic;
  line-height: 120%; 
  margin:0 0 2% 0;
}

h3{
  color:$primary-c;
  font-size:em(25);
  font-weight:400;
  line-height: 200%; 
  margin:0;
    &:before, &:after{
      content:"–";
      color: $secondary-b;
      margin: 0 1%;}
}

h4{
  color:$secondary-b;
  font-style:italic;
  font-weight:700;
  font-size:em(30);
  margin:0;
}

h5{
  color:$primary-b;
  font-size:em(16);
  font-weight:400;
  line-height:150%;
  text-align:center;
}

p{
  color:$black;
  display:block;
  font-size:em(18);
  line-height: 185%;
  margin-bottom:3%;
}

a{
  color:$secondary-b;
  text-decoration: none;
    &:hover {color: $primary-b;
    img:hover{
      opacity:0.7;
      filter:alpha(opacity=70); /* For IE8 and earlier */}}
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

//Structure
.container{
  @include outer-container;
}

.single{
  @include span-columns(12);
  @include pad(3%);
    @include media($tablet){@include span-columns(4);}
  border-top:1px solid $neutral-light;
    &:nth-of-type(1){border:none;}
}

.column{
  @include media($tablet){@include span-columns (4);}
  @include span-columns(6);
  margin-bottom:2%;

}

header{
  @include span-columns(12);
  @include pad(2% default 0 default);}

nav{
  text-align:center;
    ul{
      @include span-columns(12);
      @include pad(0 default);
        list-style:none;
        margin-bottom:4%;
          li{
            @include inline-block;
            @include pad(0 2%);
              a{
                @include media($mobile){font-size:em(16);}
                font-size:em(19);
                font-weight:900;
                font-style:italic;}}}
}

figure{
  @include fill-parent;
  margin:0;
    img{
      display:block;
      margin:0 auto 5% auto;
      @include media($mobile){
        max-width:em(300);
        height:auto;}
      @include media($tablet){
        max-width:em(350);
        height:auto;
        display:block;
        margin:0 auto;
        float:left;}}
    figcaption{
      @include pad(default);
      font-style:italic;  
      text-align: center;
      color:$primary-c;
        @include media($tablet){
          @include span-columns(4);
          text-align:left;}}
}

figure.feature{
  @include span-columns(12);
  background-image:url(../../images/geometry.png);
  @include media($tablet){@include pad(5% 0);}
      img{
        display:block;
        margin:5% auto 0 auto;
        @include media($tablet){
          max-height:em(300);
          width:auto;
          float:none;}}
  figcaption{
    @include pad(2% 0 0 3%);
    font-size:em(18);
    font-weight:400;
    font-style:italic;
    margin-bottom: 3%;
    text-align: center;
    color:$primary-c;
    @include media($tablet){font-size:em(15);}}
}

section{
  @include media($tablet){@include pad(4%);}
  aside {
    @include media($tablet){
      @include span-columns(4);
      text-align: center;}
    @include span-columns(3);
    @include pad(default);
    border-top:1px solid $neutral-light;
      img{
        display:block;
        margin:8% 0;
        float:left;
        @include media($tablet){
          margin:8% auto;
          float:none;}}}
}
    article{
      @include media($tablet){
        @include span-columns(4);}
      @include span-columns(9);
      @include pad(default);
      border-top:1px solid $neutral-light;
        ul{
          @include pad(15px 30px);
          list-style:disc;
          margin-top:0;
          color:$secondary-b;
            li a{
              color:$secondary-b;
              line-height: 150%;}}
        .list-title{
          color:$primary-b;
          padding-bottom: 8px;
          margin:0;
          border-bottom:1px solid #fff;}        
}

footer{
  @include media($mobile){
    @include span-columns(4 of 4);}
  @include span-columns(12);
  @include pad(default);
  background-color:$neutral-light;
  margin-top:3%;
    .col{
      @include media($mobile){
        @include span-columns (4 of 4);
        @include pad(default 3%);
        border-bottom:1px solid #fff;
        min-height:em(150);}
      @include span-columns(4);}
    h2{
      font-size:em(18);
      margin-bottom: 3%;}
    p{
      font-family:'Merriweather_Sans', sans-serif;
      font-size:em(17);
      color:$primary-c;}
}

//Sprites

.sprite-socialmedia{
  background-image:url(../../images/socialmedia.png);
  display:inline-block;
  margin:0 2% 2% 0; 
  text-indent:-9999px;
  height:44px;
  width:44px;
}
.email{
  background-position:0 -44px;
    &:hover{background-position:0 0;}
}
.github{
  background-position:132px -44px;;
    &:hover{background-position:132px 0;}
}
.twitter{
  background-position:-88px -44px;
    &:hover{background-position:88px 0;}
}
.dribbble{
  background-position:-132px -44px;
    &:hover{background-position:44px 0;}
}

//Graphic Elements

.gray-box{
  @include pad(default default 0 default );
  border-radius: 5px;  
  background: $neutral-light;
  font-family:'Merriweather_Sans', sans-serif;
}

.tooltip{
  display:inline;
  position:relative;
    &:hover:after{
      background: $black;
      background: rgba(0,0,0,.9);
      border-radius: 5px;
      bottom: -50px;
      color: $secondary-d;
      content: attr(title);
      font-size:em(13);
      left: 20%;
      line-height: 120%;
      @include pad(10px);
      position: absolute;
      z-index: 98;
      width: 220px;
    }
}

//Form

form{
  input[type="text"],input[type="email"],input[type="tel"],input[type="url"],
    textarea, input {
      @include fill-parent;
      @include box-shadow(inset 0 0 3px 1px rgba(0, 0, 0, 0.04));
      @include pad(15px);
      background:#FFF;
      border:1px solid $neutral-light;
      border-radius:5px;
      color:$primary-c;
      margin:0 0 10px;
        &:focus{
          border:1px solid $black;
          outline:none;}}
    label{
      color:$primary-b;
      font-size:em(18);
      line-height: 170%;
    }

    button{
      @include button (simple, $secondary-b);}  
}