---
title: Known Issues 
---
  
<div class="container">	
<div class="single">
<h5>I've listed a few known issues in the site and how I've tried to resolve them. I've also described areas I plan to continue learning.</h5>
</div>
	<section>
		<aside>
			<h2>Stylesheets</h2>
		</aside>

		<article>
			<p>You'll notice that all of my media queries are in the "all" stylesheet, but I also have a "mobile" stylesheet. My goal was to keep all of the queries in a separate stylesheet to keep the "all" stylesheet from becoming overwhelming to use.</p>

			<p>I had a few strange issues importing my stylesheet and was hitting a wall in my troubleshooting. I've managed to resolve a few of the issues, but would love a chance to look at some of my past commits on GitHub to better understand how to address the issue.</p>
		</article>		
		</section>

		<section>
			<aside>
				<h2>Middleman Features</h2>
			</aside>
			<article>
				<p>After I experimented with a few of Middleman's features I became more excited with its features. It definitely expedited the process for getting this site up and running. In the future, I plan to really maximize layouts and little features such as a quick way to make a current state in the nav to indicate which page you are viewing.</p>
			</article>		
		</section>		

		<section>
			<aside>
				<h2>Contact Form</h2>
			</aside>
			<article>
				<p>Since Middleman is a static site generator, it doesn't have anything readliy available for adding a contact form. I've just utilized <a href="http://getsimpleform.com">Simple Form</a> for now. I decided I'd like to focus my time before the site visit on learning a few additional things, like VIM and HAML. So afterward, I plan on learning a little Ruby to get a good contact form going.</p>
			</article>		
		</section>

		<section>
			<aside>
				<h2>Effectivenes</h2>
			</aside>
			<article>
				<p>Overall, I'd really like to review the "all" stylesheet, and think about ways to make it more efficient. I'd also love to receive feedback on how I could better utilize Neat in my layouts. After having built this site, I feel I could better utilize the grid and make my layouts more efficient.</p>
			</article>		
		</section>

</div><!-- .content -->